/* 폰트 */
@import url(//fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src : url("../font/GT-Super-Display-Light-Trial.otf");
    font-family: 'GT Super Ds Trial';
}

body {
    height: 30000px;
    background: #fff;
}
#contents {
    overflow: hidden;
    position: fixed;
    left: 0; top: 0;
    color: #fff;
    width: 10000vw;
    height: 100%;
}

/* cont1 */
#cont1 {
    width: 42vw;
    height: 100%;
    float: left;
}
.main {
    background-image: url(../img/main.jpg);
    background-size: cover;
    width: 35vw;
    height: 30vw;
    filter: brightness(80%);
}
.cir {
    background: #000;
    border-radius: 50%;
    width: 12vw; height: 12vw;
    margin-left: 11vw;
    left: 0; top: 0;
    transform: translate(0%, -50%);
}
.cir h2 {
    color: #fff;
    text-align: center;
    font-size: 1.3vw;
    padding-top: 5vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* cont2 */
#cont2 {
    width: 8vw;
    height: 100%;
    float: left;
}
.desc {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.desc ul {
    width: 1vw;
    border-right: 0.1vw solid #AAAAAA;
    padding: 1vw;
    margin: 1vw;
}
.desc a {
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    padding: 0vw 0vw 3vw 0vw;
    font-size: 0.9vw;
    display: inline-block;
}
.desc a:first-child {
    font-family: 'nanummyeongjo', sans-serif;
    font-size: 1.1vw;
    padding: 7vw 0vw 0vw 0vw;
}

/* cont3 */
#cont3 {
    width: 30vw;
    height: 100%;
    float: left;
}
#cont3 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.6;
    font-size: 0.9vw;
    letter-spacing: -0.1vw;
    margin-top: 3vw;
}
#cont3 a {
    display: inline-block;
    font-family: 'Chosunilbo_myungjo';
    color: #000;
    font-size: 0.9vw;
    letter-spacing: -0.1vw;
    padding: 0 0 0.2vw 0;
    border-bottom: 1px solid #000;
    margin-top: 2vw;
}

/* cont4 */
#cont4 {
    width: 120vw;
    height: 100%;
    float: left;
    position: relative;
    z-index: 1;
}
.tit {
    margin-top: 1vw;
}
.tit h2 {
    color: #000;
    font-family: 'nanummyeongjo', sans-serif;
    font-weight: normal;
    font-size: 17vw;
    display: block;
    white-space: nowrap;
    letter-spacing: -1vw;
    line-height: 0.9;
    z-index: 1;
}
.tit h2:nth-child(2) {
    margin-left: 25vw;
}
.tit h2:nth-child(3) {
    margin-left: 13vw;
}

/* cont5 */
#cont5 {
    width: 45vw;
    height: 100%;
    float: left;
    position: relative;
}
.sub {
    background-image: url(../img/sub.JPG);
    background-size: cover;
    width: 40vw;
    height: 100%;
    filter: saturate(30%);
}

/* cont6 */
#cont6 {
    width: 75vw;
    height: 100%;
    float: left;
}
.cont6 {
    margin-top: 3vw;
    padding: 0 2.5vw 0 2.5vw;
    position: relative;
}
.cont6 ul {}
.cont6 li {
    color: #000;
    font-family: 'Chosunilbo_myungjo';
    overflow: hidden;
    font-size: 2vw;
    line-height: 1.4;
}
.cont6 li:nth-child(2) {
    color: #545454;
    float: left;
    font-size: 1vw;
    line-height: 1.8;
    margin-top: 5vw;
}
.cont6 li:nth-child(3) {
    color: #545454;
    float: left;
    font-size: 1vw;
    line-height: 1.8;
    margin-top: 5vw;
    padding-left: 4vw;
}
.cont6 p {}
.skill {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9vw;
    position: absolute;
    top: 90%;
    right: 2.5vw;
}

/* cont7 */
#cont7 {
    width: 40vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont7 {
    height: 90%;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
    margin: 1vw;
}
.sk_txt {
    padding: 0 2.5vw 0 2.5vw;
    margin-top: 3vw;
}
.sk_txt h2 {
    color: #000;
    font-family: 'nanummyeongjo', sans-serif;
    font-size: 3vw;
    font-weight: normal;
}
.sk_txt h3 {
    color: #545454;
    margin-top: 3vw;
    font-size: 1.5vw;
    font-family: 'nanummyeongjo', sans-serif;
    font-weight: normal;
}
.sk_txt p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 1vw;
    line-height: 1.8;
}

/* cont8 */
#cont8 {
    width: 40vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont8 {
    margin-top: 3vw;
    padding: 0 2.5vw 0 2.5vw;
    font-size: 2.5vw;
    font-family: 'nanummyeongjo', sans-serif;
    position: relative;
}
.cont8 ul {}
.cont8 li {
    margin-top: 0.5vw;
}
.cont8 li:nth-child(5)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vw;
    width: 2vw;
    background: #000;
}
.cont8 li:nth-child(6)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vw;
    width: 2vw;
    background: #000;
}
.cont8 li:nth-child(7)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vw;
    width: 2vw;
    background: #000;
}
.cont8 li:nth-child(8)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vw;
    width: 2vw;
    background: #000;
}
.cont8 li:nth-child(9)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vw;
    width: 2vw;
    background: #000;
}
.cont8 li:nth-child(10)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vw;
    width: 2vw;
    background: #000;
}
.Site {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9vw;
    position: absolute;
    top: 50%;
    right: 2.5vw;
}

/* cont9 */
#cont9 {
    width: 45vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont9 {
    height: 100%;
}
.play {
    width: 28vw;
    height: 100%;
    background-image: url(../img/play.svg);
    background-size: cover;
}

/* cont10 */
#cont10 {
    width: 140vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont10 {
    height: 100%;
}
.site1 {
    height: 100%;
    position: relative;
}
.site1 h2 {
    color: #000;
    position: absolute;
    left: -20%; top: 35%;
    transform: rotate(270deg);
    font-size: 10vw;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
}
.main_img {
    background-image: url(../img/stand01.jpg);
    background-size: cover;
    width: 50vw;
    height: 100%;
    left: 8%;
    position: absolute;
}
.sub_img {
    background-image: url(../img/stand02.jpg);
    background-size: cover;
    width: 25vw;
    height: 35%;
    left: 42%;
    top: 45%;
    position: absolute;
}
.site1 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 65%;
    top: 15%;
    line-height: 1.6;
    position: absolute;
}
/* .btn {
    border-radius: 50%;
    line-height: 1.5;
    display: inline-block;
    background: #000;
    width: 10vw; height: 10vw;
    left: 53%;
    top: 65%;
    position: absolute;
} */
#web{
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 10vw;
    display: inline-block;
    background: #000;
    width: 10vw; height: 10vw;
    left: 59%;
    top: 65%;
    font-size: 1.5vw;
    position: absolute;
}
.site1 a {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 82%;
    top: 39%;
    border-bottom: 1px solid #000;
    position: absolute;
}
#next {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 0.9vw;
}
