/*--------------------
Body
--------------------*/


body {
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    -webkit-overflow-scrolling: touch;
}

.supah-scroll {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    overflow: hidden;
}

#contents {overflow: hidden; width: 10000px;}
#contents > div {width: 1800px; height: 100vh; float: left;}
#section1 {}
#section2 {background: #222;}
#section3 {background: #333;}
#section4 {background: #444;}
#section5 {background: #555;}
#section6 {background: #666;}

/* sec1 */
.sec1 {
    display: flex;
}
.sec1 .intro {}
.sec1 .intro .intro-img {
    width: 500px; 
    height: 60vh;
    background-image: url(../img/main.jpg);
    background-size: cover;
    filter: brightness(50%);
}
.sec1 .intro .intro-cirle {}

.sec1 .title {
    height: 100vh;
    background: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}
.sec1 .title h2 {
    transform: rotate(-90deg);
    font-size: 20px;
}
.sec1 .title ul li span {transform: rotate(-90deg); display: block; font-size: 16px;}

















