/* 폰트 */
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src : url("../font/GT-Super-Display-Light-Trial.otf");
    font-family: 'GT Super Ds Trial';
}

/* loding */
body { height: 100%; overflow: hidden; }
body.active { height: auto; overflow: auto; }
.progress {background: #000; color: #f6f6ee; height: 98vh; width: 100%; position: absolute; z-index: 5000;}
.progress-bar {	border-top: 1px solid rgb(246,246,238);	position: absolute;	top: 50%; width: 0%;}
.progress-text {font: 14px;	margin-top: 10px; position: absolute; text-align: center; top: 50%; width: 100%;}
.progress-complete .progress-bar {border-top-color: rgb(246,246,238);}

/* reveal1 */
body{
    opacity: 0;
}
body.show {
    opacity: 1;
}
body {
    position: relative;
}
body::before {
    content: '';
    position: absolute;
    right: 0; top: 0;
    height: 100%;
    z-index: 100;
    background: black;
}
body.show::before {
    animation: reveal1 2400ms cubic-bezier(.77,0,.18,1);
}
@keyframes reveal1 {
    0% {width: 100%; right: 0;}
    50% {width: 100%; right: 0;}
    80% {width: 100%; right: 0;}
    100% {width: 0; right: 100%;}
}

/* reveal2 */
.main{
    opacity: 0;
}
.main.show {
    opacity: 1;
}
.main {
    position: relative;
}
.main::before {
    content: '';
    position: absolute;
    right: 0; top: 0;
    width: 0;
    height: 100%;
    z-index: 100;
    background: white;
}
.main.show::before {
    animation: reveal2 3300ms cubic-bezier(.77,0,.18,1);
}
@keyframes reveal2 {
    0% {width: 0; left: 0;}
    50% {width: 100%; left: 0;}
    80% {width: 100%; left: 0;}
    100% {width: 0; left: 100%;}
}
@keyframes opacity {
    0% {opacity: 0;}
    60% {opacity: 0;}
    70% {opacity: 1;}
    100% {opacity: 1;}
}

.supah-scroll {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    will-change: transform;
    overflow: hidden;
}

#contents {width: 3800vh;}
#section1 {height: 100vh; float: left;}
#section2 {height: 100vh; float: left;}
#section3 {height: 100vh; float: left;}
#section4 {height: 100vh; float: left;}
#section5 {height: 100vh; float: left;}

/* cont1 */
#cont1 {
    width: 75vh; 
    height: 100vh;
    float: left;
    position: relative;
}
.main {
    background-image: url(../img/main.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
    /* filter: brightness(80%); */
}
.circle {
    background: #000;
    border-radius: 50%;
    width: 150px; height: 150px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    opacity: 0;
}
.circle h2 {
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding-top: 60px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* nav */
#nav {
    width: 20vh;
    height: 100vh;
    float: left;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    border-right: 1px solid #AAAAAA;
    opacity: 0;
    transform: translateX(-50px);
}
.logo {
    margin-top: 11.5vh;
}
.logo h2 {
    font-family: 'Nanum Myeongjo', serif;
    transform: rotate(-90deg);
    font-size: 3.2vh;
    font-weight: 400;
}
#nav ul {
    text-align: center;
}
#nav ul li {}
#nav ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    transform: rotate(-90deg);
    display: inline-block;
    font-size: 2.2vh;
    padding: 5vh 0;
    margin: 0 4vh;
}

/* cont3 */
#cont3 {
    width: 50vh;
    height: 100vh;
    float: left;
    opacity: 0;
    transform: translateY(-50px);
}
#cont3 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.6;
    font-size: 2vh;
    letter-spacing: -1px;
    margin-top: 4vh;
    margin-left: 5vh;
}
#cont3 span {
    display: inline-block;
    font-family: 'Chosunilbo_myungjo';
    color: #000;
    font-size: 2vh;
    letter-spacing: -1px;
    border-bottom: 1px solid #aaaaaa;
    margin-top: 3vh;
    margin-left: 5vh;
    padding: 0px 0px 4px 0px;
}

/* cont4 */
#cont4 {
    width: 250vh;
    float: left;
    opacity: 0;
    transform: translateX(50px);
}
.tit {

}
.tit h2 {
    height: 33.33333vh;
    line-height: .8;
    letter-spacing: -20px;
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 41vh;
    white-space: nowrap;
    z-index: 1;
    position: relative;
}
.tit h2:nth-child(1) {
    margin-top: 1.2vh;
}
.tit h2:nth-child(2) {
    margin-left: 370px;
}
.tit h2:nth-child(3) {
    margin-left: 200px;
}

/* cont5 */
#cont5 {
    width: 80vh;
    height: 100vh;
    float: left;
    z-index: -1;
}
.sub {
    width: 80vh;
    height: 100vh;
    filter: saturate(30%);
    position: relative;
    overflow: hidden;
}
.sub_img {
    background-image: url(../img/sub.JPG);
    background-size: cover;
    filter: saturate(30%);
    width: 100vh;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 20%;
    right: 0%;
    bottom: 0%;
}

/* cont6 */
#cont6 {
    width: 160vh;
    height: 100vh;
    float: left;
    position: relative;
}
.abo_desc1 {
    margin-top: 2.5vh;
    padding: 0 4.5vh;
    color: #000;
    font-family: 'Chosunilbo_myungjo';
    font-size: 5vh;
    line-height: 1.4;
    opacity: 0;
    transform: translateY(-50px);
}
.abo_desc2 {opacity: 0; transform: translateY(-50px);}
.abo_desc2 ul {}
.abo_desc2 li {
    float: left;
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    line-height: 1.8;
    margin-top: 9vh;
}
.abo_desc2 li:nth-child(1) {
    padding: 0 8vh 0 4.5vh;
}
.abo_desc2 p {}
.skill {
    position: absolute;
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.9vh;
    top: 50%;
    right: 0%;
}

/* cont7 */
#cont7 {
    width: 70vh;
    height: 100vh;
    float: left;
}
.cont7 {
    height: 100vh;
    position: relative;
}
.cont7 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}

/* cont8 */
#cont8 {
    width: 78vh;
    height: 100vh;
    float: left;
    margin: 0;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}
.sk_txt {
    padding: 0 4vh 0 4vh;
    margin-top: 5vh;
    height: 100vh;
}
.sk_txt h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 6.4vh;
    font-weight: normal;
    opacity: 0;
    transform: translateY(-50px);
}
.sk_txtBox {
    opacity: 0;
    transform: translateY(-50px);
}
.sk_txtBox h3 {
    color: #545454;
    margin-top: 6vh;
    font-size: 3.2vh;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: normal;
}
.sk_txtBox p {
    color: #000000;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    margin-top: 3vh;
    line-height: 1.8;
}

/* cont9 */
#cont9 {
    width: 70vh;
    height: 100vh;
    float: left;
    position: relative;
}
.cont9 {
    margin-top: 5vh;
    padding: 0 5vh 0 5vh;
    font-size: 5vh;
    font-family: 'Nanum Myeongjo', serif;
}
.cont9 ul {}

.cont9 li { 
    margin-top: 1vh;
    opacity: 0;
    transform: translateX(50px);
}
.cont9 li p {
    display: inline-block;
}
.cont9 li:nth-child(6)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 3.6vh;
    background: #000;
}
.cont9 li:nth-child(7)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 3.6vh;
    background: #000;
}
.cont9 li:nth-child(8)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 3.6vh;
    background: #000;
}
.cont9 li:nth-child(9)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 3.6vh;
    background: #000;
}
.cont9 li:nth-child(10)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 3.6vh;
    background: #000;
}
.cont9 li:nth-child(11)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 3.6vh;
    background: #000;
}
.Site {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.9vh;
    position: absolute;
    top: 50%;
    right: 0%
}

/* cont10 */
#cont10 {
    width: 70vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont10 {
    height: 100vh;
    position: relative;
}
.cont10 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}

/* site */
/* cont11 */
#cont11 {
    width: 280vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont11 {
    height: 100vh;
}
.site01 {
    height: 100vh;
    position: relative;
    border-right: 1px solid #aaaaaa;
}
.siteTitle01 {
    height: 100vh;
    width: 28vh;
    position: absolute;
}
.site01 h2 {
    color: #000;
    transform: rotate(-90deg);
    font-size: 18vh;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
}
.site01 h2::after {
    content: '';
    height: 0.1vh;
    width: 30vh;
    margin: 0 6vh;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img2 {
    width: 57vh;
    height: 40vh;
    left: 43%;
    top: 45%;
    position: absolute;
    overflow: hidden;
}
.main_img1 {
    background-image: url(../img/stand01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 106vh;
    height: 100vh;
    left: 10%;
    position: absolute;
}
.sub_img1 {
    background-image: url(../img/stand02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 77vh;
    height: 40vh;
    left: 125%;
    position: absolute;
}
.site01 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 65%;
    top: 20%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web1{
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 20vh;
    display: inline-block;
    background: #000;
    width: 20vh; height: 20vh;
    left: 61%;
    top: 73%;
    font-size: 3.2vh;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
}
#figma1 {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 83%;
    top: 45%;
    position: absolute;
    font-size: 2.4vh;
    opacity: 0;
    transform: translateY(-50px);
}
#figma1::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
}
#next1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 1.9vh;
}

/* cont12 */
#cont12 {
    width: 280vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont12 {
    height: 100vh;
}
.site02 {
    height: 100vh;
    position: relative;
    border-right: 1px solid #aaaaaa;
}
.siteTitle02 {
    height: 100vh;
    width: 33.6vh;
    position: absolute;
}
.site02 h2 {
    color: #000;
    transform: rotate(-90deg);
    text-align: center;
    font-size: 18vh;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    white-space: nowrap;
}
.site02 h2::after {
    content: '';
    height: 0.1vh;
    width: 30vh;
    margin: 0 6vh;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img4 {
    width: 57vh;
    height: 40vh;
    left: 45%;
    top: 25%;
    position: absolute;
    overflow: hidden;
}
.main_img2 {
    background-image: url(../img/respon01.jpg);
    background-size: cover;
    width: 106vh;
    height: 100%;
    left: 12%;
    position: absolute;
}
.sub_img2 {
    background-image: url(../img/respon02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 77vh;
    height: 40vh;
    left: 160%;
    position: absolute;
}
.site02 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 69%;
    top: 40%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web2 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 20vh;
    display: inline-block;
    background: #000;
    width: 20vh; height: 20vh;
    left: 62%;
    top: 12%;
    font-size: 3.2vh;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
}
#figma2 {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 87.5%;
    top: 58%;
    position: absolute;
    font-size: 2.4vh;
    opacity: 0;
    transform: translateY(-50px);
}
#figma2::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
}
#next2 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 1.9vh;
}

/* cont13 */
#cont13 {
    width: 280vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont13 {
    height: 100vh;
}
.site03 {
    height: 100vh;
    position: relative;
    border-right: 1px solid #aaaaaa;
}
.siteTitle03 {
    height: 100vh;
    width: 33.6vh;
    position: absolute;
}
.site03 h2 {
    color: #000;
    transform: rotate(-90deg);
    text-align: center;
    font-size: 18vh;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    white-space: nowrap;
}
.site03 h2::after {
    content: '';
    height: 0.1vh;
    width: 30vh;
    margin: 0 6vh;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img6 {
    width: 57vh;
    height: 40vh;
    left: 46%;
    top: 45%;
    position: absolute;
    overflow: hidden;
}
.main_img3 {
    background-image: url(../img/mega01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 106vh;
    height: 100vh;
    left: 12%;
    position: absolute;
}
.sub_img3 {
    background-image: url(../img/mega02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 77vh;
    height: 40vh;
    left: 204%;
    position: absolute;
}
.site03 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 71%;
    top: 35%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web3 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 20vh;
    display: inline-block;
    background: #000;
    width: 20vh; height: 20vh;
    left: 64%;
    top: 73%;
    font-size: 3.2vh;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
}
#next3 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 1.9vh;
}

/* cont14 */
#cont14 {
    width: 280vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont14 {
    height: 100vh;
}
.site04 {
    height: 100vh;
    position: relative;
    border-right: 1px solid #aaaaaa;
}
.siteTitle04 {
    height: 100vh;
    width: 33.6vh;
    position: absolute;
}
.site04 h2 {
    color: #000;
    transform: rotate(-90deg);
    text-align: center;
    font-size: 18vh;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    white-space: nowrap;
}
.site04 h2::after {
    content: '';
    height: 0.1vh;
    width: 30vh;
    margin: 0 6vh;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img8 {
    width: 57vh;
    height: 40vh;
    left: 45%;
    top: 25%;
    position: absolute;
    overflow: hidden;
}
.main_img4 {
    background-image: url(../img/naver01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 106vh;
    height: 100vh;
    left: 12%;
    position: absolute;
}
.sub_img4 {
    background-image: url(../img/naver02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 77vh;
    height: 40vh;
    left: 250%;
    position: absolute;
}
.site04 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 70%;
    top: 40%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web4 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 20vh;
    display: inline-block;
    background: #000;
    width: 20vh; height: 20vh;
    left: 62%;
    top: 12%;
    font-size: 3.2vh;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
}
#next4 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 1.9vh;
}

/* cont15 */
#cont15 {
    width: 280vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont15 {
    height: 100vh;
}
.site05 {
    height: 100vh;
    position: relative;
}
.siteTitle05 {
    height: 100vh;
    width: 33.6vh;
    position: absolute;
}
.site05 h2 {
    color: #000;
    transform: rotate(-90deg);
    text-align: center;
    font-size: 18vh;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    white-space: nowrap;
}
.site05 h2::after {
    content: '';
    height: 0.1vh;
    width: 30vh;
    margin: 0 6vh;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img10 {
    width: 57vh;
    height: 40vh;
    left: 43%;
    top: 45%;
    position: absolute;
    overflow: hidden;
}
.main_img5 {
    background-image: url(../img/react01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 106vh;
    height: 100vh;
    left: 12%;
    position: absolute;
}
.sub_img5 {
    background-image: url(../img/react02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 77vh;
    height: 40vh;
    left: 290%;
    position: absolute;
}
.site05 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 68%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web5 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 20vh;
    display: inline-block;
    background: #000;
    width: 20vh; height: 20vh;
    left: 61%;
    top: 73%;
    font-size: 3.2vh;
    border: 1px solid #000;
    position: absolute;
    z-index: 1;
}
#next5 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.9vh;
    position: absolute;
    top: 50%;
    left: 95%;
}

/* cont16 */
#cont16 {
    width: 70vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont16 {
    height: 100vh;
    position: relative;
}
.cont16 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}

/* cont17 */
#cont17 {
    width: 79vh;
    height: 100vh;
    float: left;
    margin: 0;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}
.cont17 {
    margin: 0 3vh;
    height: 100vh;
}
.ani_txt1 {
    height: 100vh;
    margin-top: 4vh;
    padding: 0 4vh;
    position: relative;
}
.ani_txt1 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 7vh;
    font-weight: normal;
    opacity: 0;
    transform: translateY(50px);
}
.ani_txt1 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    margin-top: 3vh;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(50px);
}
#ani_btn1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 12.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.9vh;
    opacity: 0;
}
#ani_btn1::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transition: all 0.5s;
}
#ani_btn1:hover::after {
    width: 0;
}
.ani01 {
    width: 66vh;
    height: 40vh;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    position: absolute;
}
.ani_img01 {
    width: 66vh;
    height: 40vh;
    left: 0%;
    position: absolute;
}

/* cont18 */
#cont18 {
    width: 79vh;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont18 {
    height: 100vh;
    margin: 0 3vh;
}
.ani_txt2 {
    height: 100vh;
    margin-top: 4vh;
    padding: 0 4vh;
    position: relative;
}
.ani_txt2 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 7vh;
    font-weight: normal;
    opacity: 0;
    transform: translateY(50px);
}
.ani_txt2 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    margin-top: 3vh;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(50px);
}
#ani_btn2 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 12.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.9vh;
    opacity: 0;
}
#ani_btn2::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transition: all 0.5s;
}
#ani_btn2:hover::after {
    width: 0;
}
.ani02 {
    width: 66vh;
    height: 40vh;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}
.ani_img02 {
    width: 66vh;
    height: 40vh;
    left: 0%;
    position: absolute;
}

/* cont19 */
#cont19 {
    width: 79vh;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont19 {
    margin: 0 3vh;
    height: 100vh;
}
.ani_txt3 {
    height: 100vh;
    margin-top: 4vh;
    padding: 0 4vh;
    position: relative;
}
.ani_txt3 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 7vh;
    font-weight: normal;
    opacity: 0;
    transform: translateY(50px);
}
.ani_txt3 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    margin-top: 3vh;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(50px);
}
#ani_btn3 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 12.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.9vh;
    opacity: 0;
}
#ani_btn3::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transition: all 0.5s;
}
#ani_btn3:hover::after {
    width: 0;
}
.ani03 {
    width: 66vh;
    height: 40vh;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}
.ani_img03 {
    width: 66vh;
    height: 40vh;
    left: 0%;
    position: absolute;
}

/* cont20 */
#cont20 {
    width: 79vh;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont20 {
    height: 100vh;
    margin: 0 3vh;
}
.ani_txt4 {
    height: 100vh;
    margin-top: 4vh;
    padding: 0 4vh;
    position: relative;
}
.ani_txt4 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 7vh;
    font-weight: normal;
    opacity: 0;
    transform: translateY(50px);
}
.ani_txt4 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    margin-top: 3vh;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(50px);
}
#ani_btn4 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 12.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.9vh;
    opacity: 0;
}
#ani_btn4::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transition: all 0.5s;
}
#ani_btn4:hover::after {
    width: 0;
}
.ani04 {
    width: 66vh;
    height: 40vh;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}
.ani_img04 {
    width: 66vh;
    height: 40vh;
    left: 0%;
    position: absolute;
}

/* cont21 */
#cont21 {
    width: 79vh;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont21 {
    height: 100vh;
    margin: 0 3vh;
}
.ani_txt5 {
    height: 100vh;
    margin-top: 4vh;
    padding: 0 4vh;
    position: relative;
}
.ani_txt5 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 7vh;
    font-weight: normal;
    opacity: 0;
    transform: translateY(50px);
}
.ani_txt5 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    margin-top: 3vh;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(50px);
}
#ani_btn5 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 12.5%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.9vh;
    opacity: 0;
}
#ani_btn5::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transition: all 0.5s;
}
#ani_btn5:hover::after {
    width: 0;
}
.ani05 {
    width: 66vh;
    height: 40vh;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}
.ani_img05 {
    width: 66vh;
    height: 40vh;
    left: 0%;
    position: absolute;
}

/* cont22 */
#cont22 {
    width: 79vh;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont22 {
    height: 100vh;
    margin: 0 3vh;
}
.ani_txt6 {
    height: 100vh;
    margin-top: 4vh;
    padding: 0 4vh;
    position: relative;
}
.ani_txt6 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 7vh;
    font-weight: normal;
    opacity: 0;
    transform: translateY(50px);
}
.ani_txt6 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 1.9vh;
    margin-top: 3vh;
    line-height: 1.8;
    opacity: 0;
    transform: translateY(50px);
}
#ani_btn6 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 13%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.9vh;
    opacity: 0;
}
#ani_btn6::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    transition: all 0.5s;
}
#ani_btn6:hover::after {
    width: 0;
}
.ani06 {
    width: 66vh;
    height: 40vh;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 50%;
    position: absolute;
    overflow: hidden;
}
.ani_img06 {
    width: 66vh;
    height: 40vh;
    left: 0%;
    position: absolute;
}

/* cont23 */
#cont23 {
    width: 50vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont23 {
    position: relative;
    height: 100vh;
}
.script {
    position: absolute;
    top: 50%;
    left: 70%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.9vh;
    color: #000;
}

/* cont24 */
#cont24 {
    width: 70vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont24 {
    height: 100vh;
    position: relative;
}
.cont24 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}

/* cont25 */
#cont25 {
    width: 250vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont25 {
    height: 100%;
    background: #1e1e1e;
    position: relative;
}
.siteTitle06 {
    height: 100vh;
    width: 33.6vh;
    position: absolute;
}
.cont25 h2 {
    color: #fff;
    transform: rotate(-90deg);
    text-align: center;
    font-size: 18vh;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    white-space: nowrap;
}
.cont25 h2::after {
    content: '';
    height: 0.1vh;
    width: 30vh;
    margin: 0 6vh;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
}
.main_scr1 {
    width: 80vh;
    height: 40%;
    left: 20%;
    top: 8%;
    position: absolute;
}
.sub_scr1 {
    width: 80vh;
    height: 40%;
    left: 30%;
    top: 53%;
    position: absolute;
}
.main_txt1 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 52%;
    top: 42%;
    position: absolute;
    font-size: 4.1vh;
}
.sub_txt1 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 62%;
    top: 88%;
    position: absolute;
    font-size: 4.1vh;
}
.cont25 p {
    color: #ffffff;
    font-family: 'Chosunilbo_myungjo';
    left: 72%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web6 {
    color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 17vh;
    display: inline-block;
    background: #fff;
    width: 17vh; height: 17vh;
    left: 65.5%;
    top: 28%;
    font-size: 3vh;
    border: 1px solid #fff;
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
}
#figma3 {
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 88%;
    top: 59%;
    position: absolute;
    font-size: 2.2vh;
    opacity: 0;
    transform: translateY(-50px);
}
#figma3::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
}

/* cont26 */
#cont26 {
    width: 200vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont26 {
    height: 100%;
    background: #1e1e1e;
    position: relative;
}
.main_scr2 {
    width: 80vh;
    height: 40%;
    left: 0%;
    top: 8%;
    position: absolute;
}
.sub_scr2 {
    width: 80vh;
    height: 40%;
    left: 10%;
    top: 53%;
    position: absolute;
}
.main_txt2 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 40.3%;
    top: 43%;
    position: absolute;
    font-size: 4.1vh;
}
.sub_txt2 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 50.3%;
    top: 88%;
    position: absolute;
    font-size: 4.1vh;
}
.cont26 p {
    color: #ffffff;
    font-family: 'Chosunilbo_myungjo';
    left: 63%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web7 {
    color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 17vh;
    display: inline-block;
    background: #fff;
    width: 17vh; height: 17vh;
    left: 55%;
    top: 28%;
    font-size: 3vh;
    border: 1px solid #fff;
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
}
#figma4 {
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 83%;
    top: 59%;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#figma4::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
}

/* cont27 */
#cont27 {
    width: 200vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont27 {
    height: 100%;
    background: #1e1e1e;
    position: relative;
}
.main_scr3 {
    width: 80vh;
    height: 40%;
    left: 0%;
    top: 8%;
    position: absolute;
}
.sub_scr3 {
    width: 80vh;
    height: 40%;
    left: 10%;
    top: 53%;
    position: absolute;
}
.main_txt3 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 40.3%;
    top: 43%;
    position: absolute;
    font-size: 4.1vh;
}
.sub_txt3 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 50.3%;
    top: 88%;
    position: absolute;
    font-size: 4.1vh;
}
.cont27 p {
    color: #ffffff;
    font-family: 'Chosunilbo_myungjo';
    left: 63%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#web8 {
    color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 17vh;
    display: inline-block;
    background: #fff;
    width: 17vh; height: 17vh;
    left: 55%;
    top: 28%;
    font-size: 3vh;
    border: 1px solid #fff;
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
}
#figma5 {
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 83.5%;
    top: 59%;
    position: absolute;
    font-size: 2.3vh;
    opacity: 0;
    transform: translateY(-50px);
}
#figma5::after {
    content: "";
    position: absolute;
    border-bottom: solid 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
}

/* cont28 */
#cont28 {
    width: 160vh;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont28 {
    height: 100%;
    position: relative;
}
.cont_tit {
    opacity: 0;
    transform: translateY(-50px);
}
.cont28 h2 {
    color: #000;
    font-family: 'Chosunilbo_myungjo';
    font-weight: normal;
    margin: 4vh 0 0 8vh;
    font-size: 4.2vh;
    line-height: 1.3;
}
.cont28 ul {
    margin: 12.4vh 0 0 8vh;
    position: absolute;
    opacity: 0;
    transform: translateY(-50px);
}
.cont28 li {
    color: #000;
    font-size: 2.1vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.cont28 li:nth-child(1) {
    padding-bottom: 3vh;
}
.cont28 li:nth-child(4) {
    padding-bottom: 3vh;
}
.cont28 li:nth-child(5) {
    border-bottom: 1px solid #000000;
}
.cont28 li:nth-child(6) {
    border-bottom: 1px solid #000000;
}
.cont28 p {
    color: #000;
    font-size: 2.1vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 38%;
    left: 29%;
    opacity: 0;
    transform: translateY(-50px);
}
.footer1 {
    color: #AAAAAA;
    font-size: 2.1vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 29%;
    top: 44%;
    border: 1px solid #AAAAAA;
    padding: 1vh 22vh 1vh 2vh;
    opacity: 0;
    transform: translateY(-50px);
}
.footer2 {
    color: #AAAAAA;
    font-size: 2.1vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 29%;
    top: 51%;
    border: 1px solid #AAAAAA;
    padding: 2vh 23.6vh 18vh 2vh;
    opacity: 0;
    transform: translateY(-50px);
}
.footer3 {
    color: #AAAAAA;
    font-size: 2.1vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 29%;
    top: 77%;
    border: 1px solid #AAAAAA;
    padding: 1vh 2vh 1vh 2vh;
    opacity: 0;
    transform: translateY(-50px);
}
.cont28 a {
    position: absolute;
    left: 87%;
    top: 65%;
    opacity: 0;
    transform: translateY(-50px);
}
.cont28 img {
    width: 20vh;
}
