/* 폰트 */
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    src : url("../font/GT-Super-Display-Light-Trial.otf");
    font-family: 'GT Super Ds Trial';
}

body {
    height: 1900vw;
    background: #fff;
}
#contents {
    overflow: hidden;
    position: fixed;
    left: 0; top: 0;
    color: #fff;
    width: 2000vw;
    height: 100vh;
}


/* reveal */
.reveal{
    opacity: 0;
}
.reveal.show {
    opacity: 1;
    animation: opacity 5000ms linear forwards;
}
.reveal {
    position: relative;
}
.reveal::before {
    content: '';
    position: absolute;
    right: 0; top: 0;
    height: 100%;
    z-index: 100;
    background: black;
}
.reveal.show::before {
    animation: reveal 1500ms cubic-bezier(.77,0,.18,1);
}
@keyframes reveal {
    0% {width: 100%; right: 0;}
    50% {width: 100%; right: 0;}
    80% {width: 100%; right: 0;}
    100% {width: 0; right: 100%;}
}

/* cont1 */
#cont1 {
    width: 35vw;
    height: 100vh;
    float: left;
}
.main {
    background-image: url(../img/main.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
    filter: brightness(80%);
}
.cir {
    background: #000;
    border-radius: 50%;
    width: 10vw; height: 10vw;
    margin-left: 10vw;
    transform: translate(20%, -50%);
}
.cir h2 {
    color: #fff;
    text-align: center;
    font-size: 1.3vw;
    padding-top: 4vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}

/* cont2 */
#cont2 {
    width: 11vw;
    height: 100vh;
    float: left;
}
.desc {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100vh;
}
.desc div {
    width: 1vw;
    height: 100vh;
    border-right: 1px solid #AAAAAA;
    padding: 0vh 3vh 0vh 8vh;

    
}
.desc a {
    writing-mode: vertical-lr; 
    transform: rotate(180deg);
    padding: 0vh 0vh 4.4vh 0vh;
    font-size: 1.1vw;
    display: inline-block;
}
.desc a:first-child {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1.5vw;
    padding: 12vh 0vh 3vh 0vh;
}

/* cont3 */
#cont3 {
    width: 25vw;
    height: 100vh;
    float: left;
}
#cont3 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    line-height: 1.6;
    font-size: 0.9vw;
    letter-spacing: -0.1vw;
    margin-top: 2.5vh;
}
#cont3 a {
    display: inline-block;
    font-family: 'Chosunilbo_myungjo';
    color: #000;
    font-size: 0.9vw;
    letter-spacing: -0.1vw;
    padding: 0vw 0vw 0.4vw 0vw;
    border-bottom: 0.1vw solid #000;
    margin-top: 2.5vh;
}

/* cont4 */
#cont4 {
    width: 110vw;
    height: 100vh;
    float: left;
}
.tit {

}
.tit h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: normal;
    font-size: 19vw;
    white-space: nowrap;
    letter-spacing: -1vw;
    line-height: 0.9;
    z-index: 1;
    position: relative;
}
.tit h2:nth-child(1) {
    height: 33vh;
}
.tit h2:nth-child(2) {
    margin-left: 24vw;
    height: 33vh;
}
.tit h2:nth-child(3) {
    margin-left: 13vw;
    height: 33vh;
}

/* cont5 */
#cont5 {
    width: 35vw;
    height: 100vh;
    float: left;
    z-index: -1;
}
#sub {
    width: 35vw;
    height: 100vh;
    filter: saturate(30%);
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.sub_img {
    background-image: url(../img/sub.JPG);
    background-size: cover;
    background-position: 50% 0;
    filter: saturate(30%);
    width: 45vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 17%;
    right: 0%;
    bottom: 0;
}

/* cont6 */
#cont6 {
    width: 80vw;
    height: 100vh;
    float: left;
    position: relative;
}
.cont6 {
    margin-top: 2.5vh;
    padding: 0 2.5vw;
}
.cont6 ul {}
.cont6 li {
    color: #000;
    font-family: 'Chosunilbo_myungjo';
    overflow: hidden;
    font-size: 2.3vw;
    line-height: 1.4;
}
.cont6 li:nth-child(2) {
    color: #545454;
    float: left;
    font-size: 0.9vw;
    line-height: 1.8;
    margin-top: 9vh;
}
.cont6 li:nth-child(3) {
    color: #545454;
    float: left;
    font-size: 0.9vw;
    line-height: 1.8;
    margin-top: 9vh;
    padding-left: 6vw;
}
.skill {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9vw;
    position: absolute;
    top: 50%;
    right: 0%;
}

/* cont7 */
#cont7 {
    width: 32vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont7 {
    height: 100vh;
    position: relative;
}
.cont7 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}
/* .play {
    stroke: #aaa;
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 140vw;
    stroke-dashoffset: 140vw;
    animation: play 2.7s 1 linear both;
} */
/* .play.active {
    stroke: #aaa;
    fill: none;
    stroke-width: 0.1vw;
    stroke-dasharray: 140vw;
    stroke-dashoffset: 140vw;
    animation: play 2.7s 1 linear both;
}
@keyframes play {
    0%   {stroke-dasharray: 140vw;}
    100%  {stroke-dashoffset: 0;}
} */

/* cont8 */
#cont8 {
    width: 37vw;
    height: 100vh;
    float: left;
    margin: 0;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}
.cont8 {
    height: 100vh;
}
.sk_txt {
    padding: 0 2vw 0 2vw;
    margin-top: 5vh;
    height: 100vh;
}
.sk_txt h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vw;
    font-weight: normal;
}
.sk_txt h3 {
    color: #545454;
    margin-top: 6vh;
    font-size: 1.5vw;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: normal;
}
.sk_txt p {
    color: #000000;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 3vh;
    line-height: 1.8;
}


/* cont9 */
#cont9 {
    width: 37vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont9 {
    margin-top: 5vh;
    padding: 0 2.5vw 0 2.5vw;
    font-size: 2.3vw;
    font-family: 'Nanum Myeongjo', serif;
    position: relative;
}
.cont9 ul {}
.cont9 li {
    margin-top: 1vh;
}
.cont9 li:nth-child(6)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 1.7vw;
    background: #000;
}
.cont9 li:nth-child(7)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 1.7vw;
    background: #000;
}
.cont9 li:nth-child(8)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 1.7vw;
    background: #000;
}
.cont9 li:nth-child(9)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 1.7vw;
    background: #000;
}
.cont9 li:nth-child(10)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 1.7vw;
    background: #000;
}
.cont9 li:nth-child(11)::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 0.1vh;
    width: 1.7vw;
    background: #000;
}
.Site {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9vw;
    position: absolute;
    top: 50%;
    right: 2.5vw;
}

/* cont10 */
#cont10 {
    width: 32vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont10 {
    height: 100vh;
    position: relative;
}
.cont10 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}

/* cont11 */
#cont11 {
    width: 140vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont11 {
    height: 100vh;
}
.site1 {
    height: 100vh;
    position: relative;
}
.site1 h2 {
    color: #000;
    position: absolute;
    left: -23%; top: 35%;
    transform: rotate(270deg);
    font-size: 9vw;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    animation: site1 10s infinite normal linear;
}
@keyframes site1 {
    0% {top: 0%;}
    100% {top: 100%;}
}
.site1 h2::after {
    content: '';
    height: 0.1vh;
    width: 15vw;
    margin: 0 3vw;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
/* #img1 {
    width: 660px;
    height: 100%;
    left: 7%;
    position: absolute;
    overflow: hidden;
} */
#img2 {
    width: 25vw;
    height: 40vh;
    left: 43%;
    top: 45%;
    position: absolute;
    overflow: hidden;
}
.main_img1 {
    background-image: url(../img/stand01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 50vw;
    height: 100vh;
    left: 10%;
    position: absolute;
}
.sub_img1 {
    background-image: url(../img/stand02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 35vw;
    height: 40vh;
    left: 115%;
    position: absolute;
}
.site1 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 65%;
    top: 20%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web1{
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #000;
    width: 9vw; height: 9vw;
    left: 60%;
    top: 73%;
    font-size: 1.5vw;
    position: absolute;
}
.site1 a {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 83%;
    top: 45%;
    border-bottom: 1px solid #000;
    position: absolute;
    font-size: 1.1vw;
}
#next1 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 0.9vw;
}
#next1::after {
    content: '';
    width: 0.01vw;
    height: 120vh;
    background: #aaaaaa;
    position: absolute;
    top: -28vw;
    right: -2vw;
}

/* cont12 */
#cont12 {
    width: 140vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont12 {
    height: 100vh;
}
.site2 {
    height: 100vh;
    position: relative;
    /* margin-left: 129.5px; */
}
.site2 h2 {
    color: #000;
    position: absolute;
    left: -17%;
    top: 40%;
    transform: rotate(270deg);
    font-size: 9vw;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    animation: site2 10s infinite normal linear;
}
@keyframes site2 {
    0% {top: 0%;}
    100% {top: 100%;}
}
.site2 h2::after {
    content: '';
    height: 0.1vh;
    width: 15vw;
    margin: 0 3vw;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
/* #img3 {
    width: 660px;
    height: 100%;
    left: 7%;
    position: absolute;
    overflow: hidden;
} */
#img4 {
    width: 25vw;
    height: 40vh;
    left: 45%;
    top: 25%;
    position: absolute;
    overflow: hidden;
}
.main_img2 {
    background-image: url(../img/respon01.jpg);
    background-size: cover;
    width: 50vw;
    height: 100%;
    left: 12%;
    position: absolute;
}
.sub_img2 {
    background-image: url(../img/respon02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 35vw;
    height: 40vh;
    left: 155%;
    position: absolute;
}
.site2 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 66%;
    top: 40%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web2 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #000;
    width: 9vw; height: 9vw;
    left: 61%;
    top: 12%;
    font-size: 1.5vw;
    position: absolute;
}
.site2 a {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 84.5%;
    top: 58%;
    border-bottom: 1px solid #000;
    position: absolute;
    font-size: 1.1vw;
}
#next2 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 0.9vw;
}
#next2::after {
    content: '';
    width: 0.01vw;
    height: 120vh;
    background: #aaaaaa;
    position: absolute;
    top: -28vw;
    right: -2vw;
}

/* cont13 */
#cont13 {
    width: 140vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont13 {
    height: 100vh;
}
.site3 {
    height: 100vh;
    position: relative;
}
.site3 h2 {
    color: #000;
    position: absolute;
    left: -15%; top: 35%;
    transform: rotate(270deg);
    font-size: 9vw;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    animation: site3 10s infinite normal linear;
}
@keyframes site3 {
    0% {top: 0%;}
    100% {top: 100%;}
}
.site3 h2::after {
    content: '';
    height: 0.1vh;
    width: 15vw;
    margin: 0 3vw;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img6 {
    width: 25vw;
    height: 40vh;
    left: 46%;
    top: 45%;
    position: absolute;
    overflow: hidden;
}
.main_img3 {
    background-image: url(../img/mega01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 50vw;
    height: 100vh;
    left: 12%;
    position: absolute;
}
.sub_img3 {
    background-image: url(../img/mega02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 35vw;
    height: 40vh;
    left: 193%;
    position: absolute;
}
.site3 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 68%;
    top: 35%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web3 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #000;
    width: 9vw; height: 9vw;
    left: 63%;
    top: 73%;
    font-size: 1.5vw;
    position: absolute;
}
/* .site3 a {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 89%;
    top: 57%;
    border-bottom: 1px solid #000;
    position: absolute;
    font-size: 1.1vw;
} */
#next3 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 0.9vw;
}
#next3::after {
    content: '';
    width: 0.01vw;
    height: 120vh;
    background: #aaaaaa;
    position: absolute;
    top: -28vw;
    right: -2vw;
}

/* cont14 */
#cont14 {
    width: 140vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont14 {
    height: 100vh;
}
.site4 {
    height: 100vh;
    position: relative;
}
.site4 h2 {
    color: #000;
    position: absolute;
    left: -18%; top: 35%;
    transform: rotate(270deg);
    font-size: 9vw;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    animation: site4 10s infinite normal linear;
}
@keyframes site4 {
    0% {top: 0%;}
    100% {top: 100%;}
}
.site4 h2::after {
    content: '';
    height: 0.1vh;
    width: 15vw;
    margin: 0 3vw;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img8 {
    width: 25vw;
    height: 40vh;
    left: 45%;
    top: 25%;
    position: absolute;
    overflow: hidden;
}
.main_img4 {
    background-image: url(../img/naver01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 50vw;
    height: 100vh;
    left: 12%;
    position: absolute;
}
.sub_img4 {
    background-image: url(../img/naver02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 35vw;
    height: 40vh;
    left: 233%;
    position: absolute;
}
.site4 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 70%;
    top: 40%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web4 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #000;
    width: 9vw; height: 9vw;
    left: 61%;
    top: 12%;
    font-size: 1.5vw;
    position: absolute;
}
/* .site4 a {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 91%;
    top: 55%;
    border-bottom: 1px solid #000;
    position: absolute;
    font-size: 1.1vw;
} */
#next4 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    left: 98%;
    top: 50%;
    font-size: 0.9vw;
}
#next4::after {
    content: '';
    width: 0.01vw;
    height: 120vh;
    background: #aaaaaa;
    position: absolute;
    top: -28vw;
    right: -2vw;
}

/* cont15 */
#cont15 {
    width: 140vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont15 {
    height: 100vh;
}
.site5 {
    height: 100vh;
    position: relative;
}
.site5 h2 {
    color: #000;
    position: absolute;
    left: -9%; top: 35%;
    transform: rotate(270deg);
    font-size: 9vw;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    animation: site5 10s infinite normal linear;
}
@keyframes site5 {
    0% {top: 0%;}
    100% {top: 100%;}
}
.site5 h2::after {
    content: '';
    height: 0.1vh;
    width: 15vw;
    margin: 0 3vw;
    display: inline-block;
    background-color: #000;
    vertical-align: middle;
}
#img10 {
    width: 25vw;
    height: 40vh;
    left: 43%;
    top: 45%;
    position: absolute;
    overflow: hidden;
}
.main_img5 {
    background-image: url(../img/react01.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 50vw;
    height: 100vh;
    left: 12%;
    position: absolute;
}
.sub_img5 {
    background-image: url(../img/react02.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 35vw;
    height: 40vh;
    left: 272%;
    position: absolute;
}
.site5 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    left: 68%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web5 {
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #000;
    width: 9vw; height: 9vw;
    left: 60%;
    top: 73%;
    font-size: 1.5vw;
    position: absolute;
}
/* .site5 a {
    color: #000;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 89%;
    top: 57%;
    border-bottom: 1px solid #000;
    position: absolute;
    font-size: 1.1vw;
} */
#next5 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9vw;
    position: absolute;
    top: 50%;
    left: 95%;
    right: 2.5vw;
}

/* cont16 */
#cont16 {
    width: 32vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont16 {
    height: 100vh;
    position: relative;
}
.cont16 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}

/* cont17 */
#cont17 {
    width: 38vw;
    height: 100vh;
    float: left;
    margin: 0;
    border-left: 1px solid #AAAAAA;
    border-right: 1px solid #AAAAAA;
}
.cont17 {
    margin: 0 1.5vw;
}
.ani_txt1 {
    margin-top: 4vh;
    padding: 0 2vw;
    position: relative;
}
.ani_txt1 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vw;
    font-weight: normal;
}
.ani_txt1 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 3vh;
    line-height: 1.8;
}
#ani_btn1 {
    position: absolute;
    top: 210%;
    border-bottom: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
}
/* .ani_img1 {
    background-image: url(../img/cube.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 476px;
    height: 300px;
    position: absolute;
    top: 240%;
} */
.ani01 {
    width: 31vw;
    height: 40vh;
    top: 240%;
    position: absolute;
    overflow: hidden;
}
.ani_img01 {
    width: 40vw;
    height: 40vh;
    left: 240%;
    position: absolute;
    
}

/* cont18 */
#cont18 {
    width: 38vw;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont18 {
    margin: 0 1.5vw;
}
.ani_txt2 {
    margin-top: 4vh;
    padding: 0 2vw;
    position: relative;
}
.ani_txt2 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vw;
    font-weight: normal;
}
.ani_txt2 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 3vh;
    line-height: 1.8;
}
#ani_btn2 {
    position: absolute;
    top: 250%;
    border-bottom: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
}
.ani02 {
    width: 31vw;
    height: 40vh;
    top: 285%;
    position: absolute;
    overflow: hidden;
}
.ani_img02 {
    width: 42vw;
    height: 40vh;
    left: 245%;
    position: absolute;
    
}

/* cont19 */
#cont19 {
    width: 38vw;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont19 {
    margin: 0 1.5vw;
}
.ani_txt3 {
    margin-top: 4vh;
    padding: 0 2vw;
    position: relative;
}
.ani_txt3 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vw;
    font-weight: normal;
}
.ani_txt3 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 3vh;
    line-height: 1.8;
}
#ani_btn3 {
    position: absolute;
    top: 250%;
    border-bottom: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
}
.ani03 {
    width: 31vw;
    height: 40vh;
    top: 285%;
    position: absolute;
    overflow: hidden;
}
.ani_img03 {
    width: 42vw;
    height: 40vh;
    left: 255%;
    position: absolute;
}

/* cont20 */
#cont20 {
    width: 38vw;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont20 {
    margin: 0 1.5vw;
}
.ani_txt4 {
    margin-top: 4vh;
    padding: 0 2vw;
    position: relative;
}
.ani_txt4 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vw;
    font-weight: normal;
}
.ani_txt4 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 3vh;
    line-height: 1.8;
}
#ani_btn4 {
    position: absolute;
    top: 180%;
    border-bottom: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
}
/* .ani_img2 {
    background-image: url(../img/heart.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 476px;
    height: 300px;
    position: absolute;
    top: 285%;
} */
.ani04 {
    width: 31vw;
    height: 40vh;
    top: 204%;
    position: absolute;
    overflow: hidden;
}
.ani_img04 {
    width: 42vw;
    height: 40vh;
    left: 265%;
    position: absolute;
}

/* cont21 */
#cont21 {
    width: 38vw;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont21 {
    margin: 0 1.5vw;
}
.ani_txt5 {
    margin-top: 4vh;
    padding: 0 2vw;
    position: relative;
}
.ani_txt5 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vw;
    font-weight: normal;
}
.ani_txt5 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 3vh;
    line-height: 1.8;
}
#ani_btn5 {
    position: absolute;
    top: 210%;
    border-bottom: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
}
/* .ani_img2 {
    background-image: url(../img/heart.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 476px;
    height: 300px;
    position: absolute;
    top: 285%;
} */
.ani05 {
    width: 31vw;
    height: 40vh;
    top: 239%;
    position: absolute;
    overflow: hidden;
}
.ani_img05 {
    width: 42vw;
    height: 40vh;
    left: 275%;
    position: absolute;
}

/* cont22 */
#cont22 {
    width: 38vw;
    height: 100vh;
    float: left;
    margin: 0;
    border-right: 1px solid #AAAAAA;
}
.cont22 {
    margin: 0 1.5vw;
}
.ani_txt6 {
    margin-top: 4vh;
    padding: 0 2vw;
    position: relative;
}
.ani_txt6 h2 {
    color: #000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 3vw;
    font-weight: normal;
}
.ani_txt6 p {
    color: #545454;
    font-family: 'Chosunilbo_myungjo';
    font-size: 0.9vw;
    margin-top: 3vh;
    line-height: 1.8;
}
#ani_btn6 {
    position: absolute;
    top: 210%;
    border-bottom: 1px solid;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 0.9vw;
}
/* .ani_img2 {
    background-image: url(../img/heart.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 476px;
    height: 300px;
    position: absolute;
    top: 285%;
} */
.ani06 {
    width: 31vw;
    height: 40vh;
    top: 240%;
    position: absolute;
    overflow: hidden;
}
.ani_img06 {
    width: 42vw;
    height: 40vh;
    left: 278%;
    position: absolute;
}

/* cont23 */
#cont23 {
    width: 25vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont23 {
    position: relative;
    height: 100vh;
}
.script {
    position: absolute;
    top: 50%;
    left: 70%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 0.9vw;
    color: #000;
}

/* cont24 */
#cont24 {
    width: 32vw;
    height: 100vh;
    float: left;
    margin: 0;
}
.cont24 {
    height: 100vh;
    position: relative;
}
.cont24 svg {
    top: 10%;
    left: 10%;
    height: 80vh;
    position: absolute;
}

/* cont25 */
#cont25 {
    width: 130vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont25 {
    height: 100%;
    background: #1e1e1e;
    position: relative;
}
.cont25 h2 {
    color: #fff;
    position: absolute;
    left: -10%;
    top: 35%;
    transform: rotate(270deg);
    font-size: 9vw;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    animation: cont25 10s infinite normal linear;
}
@keyframes cont25 {
    0% {top: 0%;}
    100% {top: 100%;}
}
.cont25 h2::after {
    content: '';
    height: 0.1vh;
    width: 15vw;
    margin: 0 3vw;
    display: inline-block;
    background-color: #fff;
    vertical-align: middle;
}
.main_scr1 {
    width: 40vw;
    height: 40%;
    left: 20%;
    top: 8%;
    position: absolute;
}
.sub_scr1 {
    width: 40vw;
    height: 40%;
    left: 30%;
    top: 53%;
    position: absolute;
}
.main_txt1 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 51.5%;
    top: 40%;
    position: absolute;
    font-size: 3vw;
}
.sub_txt1 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 61.5%;
    top: 85%;
    position: absolute;
    font-size: 3vw;
}
.cont25 p {
    color: #ffffff;
    font-family: 'Chosunilbo_myungjo';
    left: 74%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web6 {
    color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #fff;
    width: 9vw; height: 9vw;
    left: 68%;
    top: 20%;
    font-size: 1.5vw;
    position: absolute;
}
.cont25 a {
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 90%;
    top: 57%;
    border-bottom: 1px solid #fff;
    position: absolute;
    font-size: 1.1vw;
}

/* cont26 */
#cont26 {
    width: 100vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont26 {
    height: 100%;
    background: #1e1e1e;
    position: relative;
}
.main_scr2 {
    width: 40vw;
    height: 40%;
    left: 0%;
    top: 8%;
    position: absolute;
}
.sub_scr2 {
    width: 40vw;
    height: 40%;
    left: 10%;
    top: 53%;
    position: absolute;
}
.main_txt2 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 41.5%;
    top: 40%;
    position: absolute;
    font-size: 3vw;
}
.sub_txt2 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 51.5%;
    top: 85%;
    position: absolute;
    font-size: 3vw;
}
.cont26 p {
    color: #ffffff;
    font-family: 'Chosunilbo_myungjo';
    left: 67%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web7 {
    color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #fff;
    width: 9vw; height: 9vw;
    left: 59%;
    top: 20%;
    font-size: 1.5vw;
    position: absolute;
}
.cont26 a {
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 89%;
    top: 57%;
    border-bottom: 1px solid #fff;
    position: absolute;
    font-size: 1.1vw;
}

/* cont27 */
#cont27 {
    width: 100vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont27 {
    height: 100%;
    background: #1e1e1e;
    position: relative;
}
.main_scr3 {
    width: 40vw;
    height: 40%;
    left: 0%;
    top: 8%;
    position: absolute;
}
.sub_scr3 {
    width: 40vw;
    height: 40%;
    left: 10%;
    top: 53%;
    position: absolute;
}
.main_txt3 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 41.5%;
    top: 40%;
    position: absolute;
    font-size: 3vw;
}
.sub_txt3 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 51.5%;
    top: 85%;
    position: absolute;
    font-size: 3vw;
}
.cont27 p {
    color: #ffffff;
    font-family: 'Chosunilbo_myungjo';
    left: 67%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web8 {
    color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #fff;
    width: 9vw; height: 9vw;
    left: 59%;
    top: 20%;
    font-size: 1.5vw;
    position: absolute;
}
.cont27 a {
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 87%;
    top: 57%;
    border-bottom: 1px solid #fff;
    position: absolute;
    font-size: 1.1vw;
}

/* cont28 */
#cont28 {
    width: 100vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont28 {
    height: 100%;
    background: #1e1e1e;
    position: relative;
}
.main_scr4 {
    width: 40vw;
    height: 40%;
    left: 0%;
    top: 8%;
    position: absolute;
}
.sub_scr4 {
    width: 40vw;
    height: 40%;
    left: 10%;
    top: 53%;
    position: absolute;
}
.main_txt4 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 41.5%;
    top: 40%;
    position: absolute;
    font-size: 3vw;
}
.sub_txt4 {
    color: #ffffff;
    font-family: 'GT Super Ds Trial';
    font-weight: 100;
    left: 51.5%;
    top: 85%;
    position: absolute;
    font-size: 3vw;
}
.cont28 p {
    color: #ffffff;
    font-family: 'Chosunilbo_myungjo';
    left: 67%;
    top: 45%;
    line-height: 1.6;
    position: absolute;
    font-size: 1.1vw;
}
#web9 {
    color: #000;
    text-align: center;
    border-radius: 50%;
    line-height: 9vw;
    display: inline-block;
    background: #fff;
    width: 9vw; height: 9vw;
    left: 59%;
    top: 20%;
    font-size: 1.5vw;
    position: absolute;
}
.cont28 a {
    color: #fff;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    left: 89%;
    top: 57%;
    border-bottom: 1px solid #fff;
    position: absolute;
    font-size: 1.1vw;
}

/* cont29 */
#cont29 {
    width: 100vw;
    height: 100%;
    float: left;
    margin: 0;
}
.cont29 {
    height: 100%;
    position: relative;
}
.cont29 h2 {
    color: #000;
    font-family: 'Chosunilbo_myungjo';
    font-weight: normal;
    margin: 2vw 0 0 4vw;
    font-size: 2vw;
    line-height: 1.3;
}
.cont29 ul {
    margin: 6.2vw 0 0 4vw;
    position: absolute;
}
.cont29 li {
    color: #000;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.cont29 li:nth-child(1) {
    padding-bottom: 3vh;
}
.cont29 li:nth-child(4) {
    padding-bottom: 3vh;
}
.cont29 li:nth-child(5) {
    border-bottom: 1px solid #000000;
}
.cont29 li:nth-child(6) {
    border-bottom: 1px solid #000000;
}
.cont29 p {
    color: #000;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: absolute;
    top: 39%;
    left: 25%;
}

.footer1 {
    color: #AAAAAA;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 25%;
    top: 44%;
    border: 1px solid #AAAAAA;
    padding: 0.5vw 11vw 0.5vw 1vw;
}
.footer2 {
    color: #AAAAAA;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 25%;
    top: 51%;
    border: 1px solid #AAAAAA;
    padding: 1vw 11.8vw 9vw 1vw;
}
.footer3 {
    color: #AAAAAA;
    font-size: 1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 25%;
    top: 77%;
    border: 1px solid #AAAAAA;
    padding: 0.5vw 1vw 0.5vw 1vw;
}